
{% if artist %}

    <h1>{{ artist.name }}</h1>

    {% if artist.image %}
        <a href="{{ artist.image.url }}">
            <img src="{{ artist.thumb.url }}" alt="{{ artist.name }}">
        </a>
    {% endif %}

    {% if artist.description %}
        <h2>Biografia:</h2>
        <div>{{ artist.description }}</div>
    {% endif %}

    {% if tracks %}
        <h2>Popularne utwory:</h2>
        <ol>
            {% for track in tracks %}
                <li>
                    <div>
                        {% if track.album.image %}
                            <a href="{% url 'album' track.album.id %}">
                                <img src="{{ track.album.thumb.url }}" alt="{{ track.album.name }}">
                            </a>
                        {% endif %}
                    </div>
                    <div>
                        {{ track.song.title }}
                        {% if track.song.artists.all|length > 1 %}
                            ( ft.
                            {% for a in track.song.artists.all %}
                                {% if a != artist %}
                                    <a href="{% url 'artist' a.id %}">{{ a }}</a>
                                {% endif %}
                            {% endfor %}
                            )
                        {% endif %}
                    </div>
                    <div>{{ track.popularity }}</div>
                    <a href="{% url 'playlist.add_element' track.id %}">A</a>
                </li>
            {% endfor %}
        </ol>
    {% endif %}

    {% if albums %}
        <h2>Albumy:</h2>
        <ol>
        {% for album in albums %}
            <li>
                {% if album.image %}
                    <a href="{% url 'album' album.id %}">
                        <img src="{{ album.thumb.url }}" alt="{{ album.name }}">
                    </a>
                {% endif %}
                <a href="{% url 'album' album.id %}">{{ album.name }}</a>
                {{ album.date_released|date:'Y' }}
            </li>
        {% endfor %}
        </ol>
    {% endif %}

{% else %}
    <h3>Nie znaleziono wykonawcy</h3>
{% endif %}
