{% extends 'tunefy_app/layout.html' %}

{% block title %}Strona główna{% endblock %}

{% block content %}

    <side>
		<div class='logo'></div>

        <div id="playlists">
            <form id="add-playlist-form" method="post" action="{% url 'playlist.create' %}">
                {% csrf_token %}
                <input name="name" type="text" placeholder="Nowa playlista"/>
                <input type="submit" value="Dodaj"/>
            </form>
        </div>
	</side>

	<nav>

		<div class='player-box'>
			<a class='album-cover'>
				<img alt='okładka albumu' src='testalbum.png'>
			</a>
			<div class='player'>
				<div class='controls'>
					<div id='prev-track-button' class='button'></div>
					<div id='play-button'       class='button'></div>
					<div id='next-track-button' class='button'></div>
					<div class='song-info'>
						<h4>Chciałem być</h4>
						<a>Krzysztof Krawczyk</a>
					</div>
					<div class='volume'>
						<div id='volume-icon' level='4'></div>
						<div class='volume-bar'>
							<div class='total'></div>
							<div class='current' style='width: 75%'></div>
						</div>
					</div>
					<div class='options'>
						<div id='shuffle-button' class='button'></div>
						<div id='repeat-button'  class='button'></div>
					</div>
				</div>
				<div class='time'>
					<div class='time-bar'>
						<div class='total'></div>
						<div class='buffered' style='width: 65%'></div>
						<div class='current'  style='width: 35%'></div>
					</div>
					<span class='left' >1:24</span>
					<span class='right'>3:56</span>
				</div>
			</div>
		</div>

        <div id='search' class='search-bar'>
            <form id="search-form" method="post" action="{% url 'search' %}">
                {% csrf_token %}
                <input name="phrase" type="text" placeholder="Wpisz tytuł utworu, albumu lub wykonawcę"/>
                <input type="submit" value="Szukaj"/>
            </form>

            <div class="user-panel">
                <p>
                    {% if user.is_authenticated %}
                        Witaj, {{ user.username }}
                        {% if user.is_staff %}
                            <a href="{% url 'cms' %}">Panel administracyjny</a>
                        {% endif %}
                        <a href="{% url 'logout' %}">Wyloguj się</a>
                    {% else %}
                        Nie jesteś zalogowany. <a href="{% url 'login' %}">Zaloguj się</a>
                    {% endif %}
                </p>
            </div>

        </div>

	</nav>

	<main id="current-content"></main>








    <script>

        $(document).ready(function() {
            $.ajax({
                url: "{% url 'playlist.index' %}",
                type: "get",
                dataType: "html",
                success: function (response) {
                    $('#playlists').html(response);
                }
            });
        });

        $(document).on('submit', '#add-playlist-form', function (event) {
            event.preventDefault();
            $.ajax({
                url: "{% url 'playlist.create' %}",
                type: "post",
                dataType: "html",
                data: $(this).serialize(),
                success: function (response) {
                    $('#playlists').html(response);
                }
            });
        });

        $(document).on('submit', '#search-form', function(event){
            event.preventDefault();
            $.ajax({
                url: "{% url 'search' %}",
                type: "post",
                dataType: "html",
                data: $(this).serialize(),
                success: function (response) {
                    $('#current-content').html(response);
                }
            });
        });

        $(document).on('click', '#playlists a.select-playlist-link, #playlists a.delete-playlist-link', function(event) {
            event.preventDefault();
            $.ajax({
                url: $(this).attr('href'),
                success: function (response) {
                    $('#playlists').html(response);
                }
            });
        });

        $(document).on('click', '#playlists a.playlist-link, #current-content a', function(event) {
            event.preventDefault();
            $.ajax({
                url: $(this).attr('href'),
                success: function (response) {
                    $('#current-content').html(response);
                }
            });
        });


    </script>

{% endblock %}