{% extends 'tunefy_app/layout.html' %}

{% block title %}Strona główna{% endblock %}

{% block content %}

    <side>
		<div class='logo'></div>

        <div id="playlists">
            <form id="add-playlist-form" method="post" action="{% url 'playlist.create' %}">
                {% csrf_token %}
                <input name="name" type="text" placeholder="Nowa playlista"/>
                <input type="submit" value="Dodaj"/>
            </form>
        </div>
	</side>

	<nav>

		<div id='player' class='player-box'>

		</div>

        <div id='search' class='search-bar'>
            <form id="search-form" method="get">
                {% csrf_token %}
                <input name="phrase" type="text" placeholder="Wpisz tytuł utworu, albumu lub wykonawcę"/>
                <input type="submit" value="Szukaj"/>
            </form>

            <div class="user-panel">
                <p>
                    {% if user.is_authenticated %}
                        Witaj, {{ user.username }}
                        {% if user.is_staff %}
                            <a href="{% url 'cms' %}">Panel administracyjny</a>
                        {% endif %}
                        <a href="{% url 'sign_out' %}">Wyloguj się</a>
                    {% else %}
                        Nie jesteś zalogowany. <a href="{% url 'sign_in' %}">Zaloguj się</a>
                    {% endif %}
                </p>
            </div>

        </div>

	</nav>

	<main id="current-content"></main>








    <script>
        $(document).ready(function() {
            $.ajax({
                url: "{% url 'playlist.index' %}",
                success: function (response) {
                    $('#playlists').html(response);
                }
            });
            $.ajax({
                url: "{% url 'search' %}",
                success: function (response) {
                    $('#current-content').html(response);
                }
            });
            $.ajax({
                url: "{% url 'track.play' %}",
                success: function (response) {
                    $('#player').html(response);
                }
            });
        });

        $(document).on('submit', '#add-playlist-form', function (event) {
            event.preventDefault();
            $.ajax({
                url: "{% url 'playlist.create' %}",
                type: "post",
                dataType: "html",
                data: $(this).serialize(),
                success: function (response) {
                    $('#playlists').html(response);
                }
            });
        });

        $(document).on('submit', '#search-form', function(event){
            event.preventDefault();
            $.ajax({
                url: "{% url 'search' %}",
                type: "get",
                dataType: "html",
                data: $(this).serialize(),
                success: function (response) {
                    $('#current-content').html(response);
                }
            });
        });

        $(document).on('click', '#playlists a.select-playlist-link, #playlists a.delete-playlist-link', function(event) {
            event.preventDefault();
            $.ajax({
                url: $(this).attr('href'),
                success: function (response) {
                    $('#playlists').html(response);
                }
            });
        });

        $(document).on('click', '#playlists a.playlist-link:not(.play-button),'
            + '#current-content a:not(.play-button):not(.add-button):not(.remove-playlist-link):not(.view-image-link),'
            + '#player a.album-cover, #player .artists a', function(event) {

            event.preventDefault();
            $.ajax({
                url: $(this).attr('href'),
                success: function (response) {
                    $('#current-content').html(response);
                }
            });
        });

        $(document).on('click', '.remove-playlist-link', function(event) {
            event.preventDefault();
            $.ajax({
                url: $(this).attr('href'),
                success: function (response) {
                    $('#playlists').html(response);
                }
            });
            $.ajax({
                url: "{% url 'search' %}",
                success: function (response) {
                    $('#current-content').html(response);
                }
            });
        });

        $(document).on('click', '#playlists a.play-button,'
            + '#current-content a.play-button', function(event) {
            event.preventDefault();
            $.ajax({
                url: $(this).attr('href'),
                success: function (response) {
                    $('#player').html(response);
                }
            });
        });

        $(document).on('click', '#play-button', function() {
            var player = $('#player-audio').get(0);
            if (player !== undefined) {
                var attr = $(this).attr('playing');
                if (typeof attr !== typeof undefined && attr !== false) {
                    pauseTrack();
                }
                else {
                    playTrack();
                }
            }
        });

        $(document).on('click', '#prev-track-button', function() {
            event.preventDefault();
            $.ajax({
                url: "{% url 'play.prev' %}",
                success: function (response) {
                    $('#player').html(response);
                }
            });
        });

        $(document).on('click', '#next-track-button', function() {
            event.preventDefault();
            $.ajax({
                url: "{% url 'play.next' %}",
                success: function (response) {
                    $('#player').html(response);
                }
            });
        });

        $(document).on('click', '#current-content a.add-button', function(event) {
            event.preventDefault();
            $.ajax({
                url: $(this).attr('href')
            });
        });

        function playTrack(callback) {
            var player = $('#player-audio').get(0);
            var promise = player.play();

            promise.then(function () {
                $('#track-buffering').hide();
                if (callback && typeof callback === "function") {
                    callback();
                }
            });
{#            .catch(function () {#}
{#                console.log("Play interrupted on user's request.");#}
{#            })#}

            $('#play-button').attr('playing', '');
        }

        function pauseTrack() {
            $('#player-audio').get(0).pause();
            $('#play-button').removeAttr('playing');
        }

        function stopTrack() {
            var player = $('#player-audio').get(0);
            player.pause();
            player.currentTime = 0;
            $('#play-button').removeAttr('playing');
        }

        function updateTime() {
            var player = $('#player-audio').get(0);
            var currentTime = Math.floor(player.currentTime);
            var seconds = currentTime % 60;
            var str = Math.floor(currentTime / 60) + ':' + (seconds < 10 ? '0' + seconds : seconds);
            $('#current-time-value').text(str);
            $('#current-time-bar').css('width', (Math.min(100, 100 * currentTime / player.duration)) + '%');
        }

        function setVolume(volume) {
            volume = Math.max(0, Math.min(1, parseFloat(volume)));
            $('.volume .current').css('width', (volume * 100) + '%');
            $('#player-audio').get(0).volume = volume;
            $('#volume-icon').attr('level', volume > 0.7 ? 4 : volume > 0.4 ? 3 : volume > 0.1 ? 2 : 1);
            $.ajax({ url: 'settings/volume/' + volume });
        }

    </script>

{% endblock %}