<!doctype html>
<html lang='pl'>
<head>
	{% load staticfiles %}
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<title>{% block title %}{% endblock %} - Tunefy - The Best Tunes For You</title>
	<link rel='stylesheet' href="{% static 'tunefy_app/style.css' %}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    {% block content %}{% endblock %}

	<footer>
		<div class='copyright'>
			Systemy Zarządzania Treścią: Projekt zaliczeniowy<br>
			&copy;2017 Jakub Szymczuk Platforma ma charakter wyłącznie edukacyjny.
		</div>
	</footer>

</body>