
<form id="add-playlist-form" method="post" action="{% url 'playlist.create' %}">
    {% csrf_token %}
    <input name="name" type="text" placeholder="Nowa playlista"/>
    <input type="submit" value="Dodaj"/>
</form>

{% if playlists %}

    <ol>
        {% for playlist in playlists %}

            {% if current_playlist == playlist.id %}
                <li active>
            {% else %}
                <li>
                    <a href="{% url 'playlist.select' playlist.id %}" class="select-playlist-link"></a>
            {% endif %}
                    <a href="{% url 'playlist.play' playlist.id %}" class="play-button"></a>
                    <a href="{% url 'playlist.index' playlist.id %}" class="playlist-link">{{ playlist.name }}</a>
    {#                <a href="{% url 'playlist.delete' playlist.id %}" class="delete-playlist-link">D</a>#}
                </li>
        {% endfor %}
    </ol>

{% endif %}
