
<form id="add-playlist-form" method="post" action="{% url 'playlist.create' %}">
    {% csrf_token %}
    <input name="name" type="text" placeholder="Nowa playlista"/>
    <input type="submit" value="Dodaj"/>
</form>

{% if playlists %}

    <ol>
        {% for playlist in playlists %}
            <li>
                <a href="{% url 'playlist.index' playlist.id %}" class="playlist-link">
                    {{ playlist.name }}
                </a>

                {% if current_playlist == playlist.id %}

                {% else %}
                    <a href="{% url 'playlist.select' playlist.id %}" class="select-playlist-link">A</a>
                {% endif %}
                <a href="{% url 'playlist.delete' playlist.id %}" class="delete-playlist-link">D</a>
            </li>
        {% endfor %}
    </ol>

{% endif %}
