{% if playlist %}

    <h2>{{ playlist.name }}</h2>
    <a href="{% url 'playlist.delete' playlist.id %}" class="remove-playlist-link">Usuń playlistę</a>

    {% if elements %}
        <ol class="tracks">
            {% for element in elements %}
                <li>
                    <span class="order">{{ element.order|add:1 }}</span>
                    <a href="{% url 'playlist.play' playlist.id element.id %}" class="play-button"></a>
                    {% if element.track.album.image %}
                        <a href="{% url 'album' element.track.album.id %}" class="album-cover">
                            <img src="{{ element.track.album.thumb.url }}" alt="{{ element.track.album.name }}">
                        </a>
                    {% endif %}
                    <div class="track-info">
                        <a href="{% url 'album' element.track.album.id %}">{{ element.track.song.title }}</a>
                        <div class="artists">
                            {% for artist in element.track.song.artists.all %}
                                <a href="{% url 'artist' artist.id %}">{{ artist }}</a>{% if forloop.counter < element.track.song.artists.all|length %}, {% endif %}
                            {% endfor %} - <a href="{% url 'album' element.track.album.id %}">{{ element.track.album.name }}</a>
                        </div>
                    </div>
                    <a href="{% url 'playlist.remove_element' element.id %}" class="remove-button"></a>
                </li>
            {% endfor %}
        </ol>
    {% endif %}

{% else %}
    <h3>Ta lista odtwarzania jest pusta.</h3>
{% endif %}
