{% extends 'tunefy_cms/layout.html' %}

{% block page_headline %}
    <h2>{% block title %}{% endblock %}</h2>
{% endblock %}

{% block content %}

    <form class="form" action="{% block form_confirm_action %}{% endblock %}"
          method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% include "tunefy_cms/form_field_set.html" with form=form %}
        <input type="submit" value="{% block form_confirm_text %}{% endblock %}" />

        <a href="{% block form_cancel_action %}{% endblock %}" class="cancel-link">
            {% block form_cancel_text %}{% endblock %}
        </a>

    </form>

{% endblock %}
