<!doctype html>
<html lang='pl'>
<head>
	{% load static %}
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<title>{% block title %}{% endblock %} - Tunefy - The Best Tunes For You</title>
	<!--<link rel='stylesheet' href="{% static 'style.css' %}"/>-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<div class='body-content'>
        <nav>
            <a href="{% url 'genre.index' %}">Gatunki</a>
            <a href="{% url 'artist.index' %}">Wykonawcy</a>
            <a href="{% url 'song.index' %}">Utwory</a>
            <a href="{% url 'album.index' %}">Albumy</a>
            <a href="{% url 'genre.index' %}">Użytkownicy</a>
            <a href="{% url 'genre.index' %}">Listy odtwarzania</a>
        </nav>

		<main>
            {% block page_headline %}{% endblock %}
			{% block content %}{% endblock %}
		</main>
	</div>

	<footer>
		<div class='copyright'>
			Systemy Zarządzania Treścią: Projekt zaliczeniowy<br>
			Platforma ma charakter wyłącznie edukacyjny.<br>
			&copy;2017 Jakub Szymczuk
		</div>
	</footer>

</body>