<!doctype html>
<html lang='pl'>
<head>
    {% load staticfiles %}
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<title>{% block title %}{% endblock %} - Tunefy - The Best Tunes For You</title>
	<link rel='stylesheet' href="{% static 'tunefy_cms/style.css' %}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<div class='body-content'>
        <nav>
            <ul class="wrapper">
                <li><a class="logo" href="{% url 'index' %}"></a> </li>
                <li><a href="{% url 'genre.index' %}">Gatunki</a></li>
                <li><a href="{% url 'artist.index' %}">Wykonawcy</a></li>
                <li><a href="{% url 'song.index' %}">Utwory</a></li>
                <li><a href="{% url 'album.index' %}">Albumy</a></li>
                <li><a href="{% url 'user.index' %}">Użytkownicy</a></li>
                {% if user.is_authenticated %}
                    <li class="right">
                        Witaj, {{ user.username }}
                        <a href="{% url 'logout' %}">Wyloguj się</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

		<main>
            <div class="wrapper">
                {% block page_headline %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
		</main>
	</div>

    <footer>
		<div class='copyright'>
			Systemy Zarządzania Treścią: Projekt zaliczeniowy<br>
			&copy;2017 Jakub Szymczuk Platforma ma charakter wyłącznie edukacyjny.
		</div>
	</footer>

</body>