{% extends 'tunefy_cms/layout.html' %}

{% block page_headline %}
    <h2>{% block title %}Użytkownicy{% endblock %}</h2>
{% endblock %}

{% block content %}

    {% if results %}

        <table>
            <thead>
                <tr>
                    <th class="width30"></th>
                    <th class="align-left">Nazwa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for u in results %}
                <tr>
                    <td class="align-right">{{ first_index|add:forloop.counter }}</td>
                    <td class="align-left">{{ u.username }}</td>
                    <td class="align-right">
                        {% if user != u %}
                            <a href="{% url 'user.edit'   u.id %}">
                                {% if u.is_staff %}Pozbaw uprawnień{% else %}Dodaj uprawnienia{% endif %}
                            </a>
                        {% endif %}
                        <a href="{% url 'user.delete' u.id %}">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                         {% include 'tunefy_cms/pagination.html' with url_action='user.index' page_size=page_size prev_page=prev_page current_page=current_page next_page=next_page total_pages=total_pages %}
                    </td>
                </tr>
            </tfoot>
        </table>

    {% else %}
        <h2>Brak zarejestrowanych użytkowników.</h2>
    {% endif %}

{% endblock %}