{% extends 'tunefy_cms/layout.html' %}

{% block page_headline %}
    <h2>{% block title %}Utwory{% endblock %}</h2>
{% endblock %}

{% block content %}

    <a href="{% url 'song.create' %}">Dodaj nowy utwór</a>

    {% if results %}

        {% include 'tunefy_cms/pagination.html' with url_action='song.index' page_size=page_size prev_page=prev_page current_page=current_page next_page=next_page total_pages=total_pages %}

        <table>
            {% for song in results %}
                <tr>
                    <td>{{ first_index|add:forloop.counter }}</td>
                    <td>{{ song.title }}</td>
                    <td>
                        {% for artist in song.artists.all %}
                            {% if forloop.counter > 1 %}, {% endif %}
                            <a href="{% url 'artist.edit' artist.id %}">{{ artist }}</a>
                        {% endfor %}
                    </td>
                    <td><a href="{% url 'song.edit' song.id %}">Edytuj</a></td>
                    <td><a href="{% url 'song.delete' song.id %}">Usuń</a></td>
                </tr>
            {% endfor %}
        </table>

        {% include 'tunefy_cms/pagination.html' with url_action='song.index' page_size=page_size prev_page=prev_page current_page=current_page next_page=next_page total_pages=total_pages %}

    {% else %}

        <h2>Brak utworów.</h2>

    {% endif %}

{% endblock %}