{% extends 'layout.html' %}

{% block page_headline %}
    <h2>{% block title %}Wykonawcy{% endblock %}</h2>
{% endblock %}

{% block content %}

    <a href="{% url 'artist.create' %}">Dodaj nowego wykonawcę</a>

    {% if results %}

        {% include 'pagination.html' with url_action='artist.index' page_size=page_size prev_page=prev_page current_page=current_page next_page=next_page total_pages=total_pages %}

        <table>
            {% for artist in results %}

                <tr>
                    <td>{{ first_index|add:forloop.counter }}</td>
                    <td>{{ artist.name }}</td>
                    <td>
                        {% if artist.image %}
                            <a href="{{ artist.image.url }}">
                                <img src="{{ artist.thumb.url }}" alt="{{ artist.name }}">
                            </a>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'artist.edit' artist.id %}">Edytuj</a></td>
                    <td><a href="{% url 'artist.delete' artist.id %}">Usuń</a></td>
                </tr>

            {% endfor %}
        </table>

        {% include 'pagination.html' with url_action='artist.index' page_size=page_size prev_page=prev_page current_page=current_page next_page=next_page total_pages=total_pages %}

    {% else %}

        <h2>Brak wykonawców.</h2>

    {% endif %}

{% endblock %}