{% extends 'layout.html' %}

{% block page_headline %}
    <h2>{% block title %}Gatunki{% endblock %}</h2>
{% endblock %}

{% block content %}

    <a href="{% url 'genre.create' %}">Dodaj nowey gatunek</a>

    {% if results %}

        {% include 'pagination.html' with url_action='genre.index' page_size=page_size prev_page=prev_page current_page=current_page next_page=next_page total_pages=total_pages %}

        <table>
            {% for genre in results %}
                <tr>
                    <td>{{ first_index|add:forloop.counter }}</td>
                    <td>{{ genre.name }}</td>
                    <td><a href="{% url 'genre.edit' genre.id %}">Edytuj</a></td>
                    <td><a href="{% url 'genre.delete' genre.id %}">Usuń</a></td>
                </tr>
            {% endfor %}
        </table>

        {% include 'pagination.html' with url_action='genre.index' page_size=page_size prev_page=prev_page current_page=current_page next_page=next_page total_pages=total_pages %}

    {% else %}
        <h2>Brak gatunków.</h2>
    {% endif %}

{% endblock %}