{% extends 'tunefy_cms/layout.html' %}

{% block page_headline %}
    <h2>{% block title %}{% endblock %}</h2>
{% endblock %}

{% block content %}

    <form class="form" action="{% block form_confirm_action %}{% endblock %}"
          method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% include "tunefy_cms/form_field_set.html" with form=form %}

        <div class="form-field song-list">
            <label>Lista utworów:</label>
            <div>
                <select id="song-selection">
                    {% for song in songs %}
                        <option value="{{ song.id }}">{{ song }}</option>
                    {% endfor %}
                </select>
                <button id="add-song-button">+</button>

                <ol id="song-list">
                    {% for track in form.initial_tracks %}
                        <li>
                            <input type="hidden" name="tracks" value="{{ track.song.id }}">
                            <span>{{ track.song }}</span>
                            <span>
                                <a class="delete-button">✖</a><a class="move-up-button">▲</a><a class="move-down-button">▼</a>
                            </span>
                        </li>
                    {% endfor %}
                </ol>

            </div>
        </div>



        <input type="submit" value="{% block form_confirm_text %}{% endblock %}" />

        <a href="{% block form_cancel_action %}{% endblock %}" class="cancel-link">
            {% block form_cancel_text %}{% endblock %}
        </a>

    </form>

    <script>
        $(document).ready(function(){
            $('#add-song-button').on('click', function(e) {
                e.preventDefault();
                addSong();
            });
            $('#song-list').on('click', '.delete-button', function () {
                $(this).closest('li').remove();
            })
            $('#song-list').on('click', '.move-up-button', function () {
                var current = $(this).closest('li')[0];
                var previous = current.previousSibling;
                if (previous !== null) {
                    previous.before(current);
                }
            })
            $('#song-list').on('click', '.move-down-button', function () {
                var current = $(this).closest('li')[0];
                var previous = current.nextSibling;
                if (previous !== null) {
                    previous.after(current);
                }
            })
        });

        function addSong() {
            selection = $('#song-selection')[0];
            $('#song-list').append('<li><input type="hidden" name="tracks" value="'
                + selection.options[selection.options.selectedIndex].value
                + '"><span>'
                + selection.options[selection.options.selectedIndex].text
                + '</span><span><a class="delete-button">✖</a>'
                + '<a class="move-up-button">▲</a>'
                + '<a class="move-down-button">▼</a></span>'
                + '</li>');
        }
    </script>

{% endblock %}
