{% extends 'tunefy_cms/layout.html' %}

{% block page_headline %}
    <h2>{% block title %}{{ title }}{% endblock %}</h2>
{% endblock %}

{% block content %}

    <form action="
            {% if id %}
                {% url form_confirm_action id %}
            {% else %}
                {% url form_confirm_action %}
            {% endif %}"
          method="post"
          enctype="multipart/form-data">
    
        {% csrf_token %}

        {% include "tunefy_cms/form_field_set.html" with form=form %}

        <select id="song-selection">
            {% for song in songs %}
                <option value="{{ song.id }}">{{ song }}</option>
            {% endfor %}
        </select>
        <button id="add-song-button">Dodaj utwór</button>

        <h4>Lista utworów:</h4>
        <ol id="song-list">
            {% for track in form.initial_tracks %}
                <li>
                    <input type="hidden" name="tracks" value="{{ track.song.id }}">
                    {{ track.song }}
                    <a class="delete-button">D</a>
                    <a class="move-up-button">&lt;</a>
                    <a class="move-down-button">&gt;</a>
                </li>
            {% endfor %}
        </ol>

        <input type="submit" value="{{ form_confirm_text }}" />
        <a href="{% url form_cancel_action %}">{{ form_cancel_text }}</a>
    
    </form>

    <script>
        $(document).ready(function(){
            $('#add-song-button').on('click', function(e) {
                e.preventDefault();
                addSong();
            });
            $('#song-list').on('click', '.delete-button', function () {
                $(this).closest('li').remove();
            })
            $('#song-list').on('click', '.move-up-button', function () {
                var current = $(this).closest('li')[0];
                var previous = current.previousSibling;
                if (previous !== null) {
                    previous.before(current);
                }
            })
            $('#song-list').on('click', '.move-down-button', function () {
                var current = $(this).closest('li')[0];
                var previous = current.nextSibling;
                if (previous !== null) {
                    previous.after(current);
                }
            })
        });

        function addSong() {
            selection = $('#song-selection')[0];
            $('#song-list').append('<li><input type="hidden" name="tracks" value="'
                + selection.options[selection.options.selectedIndex].value
                + '">'
                + selection.options[selection.options.selectedIndex].text
                + '<a class="delete-button">D</a>'
                + '<a class="move-up-button">&lt;</a>'
                + '<a class="move-down-button">&gt;</a>'
                + '</li>');
        }
    </script>

{% endblock %}