{% extends 'tunefy_app/layout.html' %}

{% block page_headline %}
    <h2>{% block title %}Rejestracja{% endblock %}</h2>
{% endblock %}

{% block content %}

	<div class='body-content'>
        <div class='welcome-panel'>
            <div class='logo'></div>

            <form id="registration-form" method="post" action="{% url 'register' %}">

                {% csrf_token %}
                <h2>Rejestracja</h2>

                {% for field in form.visible_fields %}
                    <div class='form-field-area'>
                        <div class='error'>{{ field.errors }}</div>
                        {{ field }}
                    </div>
                {% endfor %}

                <button type="submit">Załóż konto</button>

                <p>Już masz konto? <a href="{% url 'sign_in' %}">Zaloguj się</a>.</p>

            </form>

        </div>
    </div>

{% endblock %}
